.nav {
    position: fixed;
    top: 0;
    right: 2px;
    display: flex;
    justify-content: space-around;
    background-image: url("https://test.create.diagnal.com/images/nav_bar.png");
    z-index: 1;
    padding: 20px 0px;
    width: 100%;
}

.left-nav {
    font-family: 'TitilliumWebRegular', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
        max-width: 10%;
        padding-right: 10px;
        margin-left: 10px;
    }
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    width: 50%;
    img {
    max-width: 10%;
    margin: 0px 10px;
    }
    input {
        max-width: 40%;
        cursor: pointer;
    }
}

.movieContainer {
    position: relative;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .movie {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 23%;
        justify-content: baseline;
    }
    img {
        aspect-ratio: 2 / 3 ;
        background-image:url('https://test.create.diagnal.com/images/placeholder_for_missing_posters.png');
    }
    span {
        font-family: 'TitilliumWebLight', sans-serif;
    }
}