@font-face {
  font-family: 'TitilliumWeb';
  src: url('./fonts/Titillium_Web/TitilliumWeb-Black.ttf')
}

@font-face {
  font-family: 'TitilliumWebLight';
  src: url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf')
}

@font-face {
  font-family: 'TitilliumWebRegular';
  src: url('./fonts/Titillium_Web/TitilliumWeb-Regular.ttf')
}

@font-face {
  font-family: 'TitilliumWebSemiBold';
  src: url('./fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf')
}

body {
  margin: 0;
  font-family: 'TitilliumWeb', sans-serif;
  background-color: #171717;
  color:  #FFFFFF;
}

html {
  scrollbar-width: none;
}

input {
  font-family: 'TitilliumWebSemiBold', sans-serif;
}
